<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>

</head>
<body>
  

  <div class="next w-full h-screen bg-red-400  ">


    <nav class="nav w-36 h-screen relative bg-green-400 ">
      <div class="icon flex flex-col items-center">
        <i class="iconimg fixed text-4xl mt-5 ml-[-4%] ri-indent-increase "></i>
        
      </div>
      <br>
  
      <div class="hiddennav fixed flex flex-col items-center  gap-10 top-20 filter backdrop-saturate-50 left-[-100%]">
        <a href="" class=" ele   text-2xl capitalize font-bold hover:underline font-[foldit]">profile</a>
        <a href="" class=" ele text-2xl capitalize font-bold hover:underline font-[foldit]">login</a>
        <a href="" class=" ele text-2xl capitalize font-bold hover:underline font-[foldit]">register</a>
        <a href="" class=" ele text-2xl capitalize font-bold hover:underline font-[foldit]">home</a>
        <a href="" class=" ele text-2xl capitalize font-bold hover:underline font-[foldit]">about</a>
      </div>
    </nav>

    <div class="next w-full h-screen bg-blue-400">
      
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>